In [2]:
from destasis import json2df
import pandas as pd

In [16]:
df_stat = json2df("12411-0007_Alter_de")
df_stat = df_stat[df_stat["STAG"] == "2023-12-31"]
df_stat = df_stat[df_stat["GES"] != "%TOTAL%"]
df_stat = df_stat[df_stat["NAT"] == "NATD"]
df_stat = df_stat[df_stat["ALT013"] != "%TOTAL%"]

def conv_alter(alt):
    return int(alt[3:6])

df_stat["ALT"] = df_stat["ALT013"].apply(conv_alter)
df_stat = df_stat[["GES", "ALT", "Value"]]
df_stat

       GES  ALT    Value
4611  GESM    0   297678
4612  GESM    1   320129
4613  GESM    2   347372
4614  GESM    3   340031
4615  GESM    4   341695
...    ...  ...      ...
9390  GESW   81   320234
9391  GESW   82   383882
9392  GESW   83   389888
9393  GESW   84   368129
9394  GESW   85  1811726

[172 rows x 3 columns]

In [17]:
df_stat.to_csv("alterspyramide_de.csv")